* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

body {
  margin: 0px;
}

.App-main-Container {
  display: flex;
  background-color: #9ba9eb;
  background-size: cover;
  height: 100%;
}

.app-logo {
  width: 70px;
  height: 90px;
  margin: 20px;
}
